<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="TableName" value="NewTbl" />
    <add key="FilePath" value="C:\Users\mochy-MD92\Desktop\DO" />
  </appSettings>
  <connectionStrings>
    <add name="ConnStrs"  connectionString="Data Source=127.0.0.1;Initial Catalog=NetData;User ID=PythonAccount ;Password=1024  "/>
  </connectionStrings>
</configuration>